body {
  margin: 0;
  padding: 0;
  font-family: 'News Cycle', sans-serif;
}

.galeria{
  margin-top: 2px;
  margin-right: -5px;
  margin-left: 3px;
}

a {
  color: #307EA9;
  text-decoration: none;
}

ul {
  padding-left: 20px;
}

b, strong {
  color: #555;
}

input{
  display: block;
  width: 100%;
  height: 22px;
  padding: 6px 0px 6px 6px;
  font-size: 14px;s
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

li {
  padding: 0;
  list-style-type: square;
  font-size: 20px;
  margin-left: 0;
  line-height: 160%;
}

.my-li {
  border-bottom: 1px solid #e5e5e5
}

::selection {
  background-color: #2B2B2B;
  color: #eee;
}

.clear {
  clear: both;
}

#label-contato{
  font-size: 1.6em;
}

.highlight{
  text-align: left;
}

.header {
  margin: 45px;
}

.header a, .header b {
  color: #444;
  text-decoration: none;
  transition: color 0.25s ease-in;
  -webkit-transition: color 0.25s ease-in;
}

.name a {
  font-size: 30px;
  font-family: 'News Cycle', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.menu {
  padding: 0;
  margin: 0;
  font-family: 'News Cycle', sans-serif;
  text-transform: uppercase;
  float: right;
}

.menu li {
  display: inline;
  padding-left: 15px;
}

.menu li a{
  font-size: 14px;
}

.container {
  width: 650px;
  margin: 0 auto;
}

.hero {
  background-color: #2B2B2B;
  background-size: cover;
  height: 200px;
  box-shadow: inset 0 0 15px rgba(0,0,0,.5);
}

.aside {
  margin-bottom: 25px;
  background-color: #eee;
  padding: 10px;
  font-size: 14px;
}

h1 {
  font-family: 'News Cycle', sans-serif;
  font-weight: bold;
  font-size: 34px;
  margin: 40px -30px 30px -30px;
  padding: 15px 30px 30px 23px;
  border-left: 7px solid #eee;
  font-weight: 400;
  color: #444;
}

h1 em, h1 i {
  font-family: 'News Cycle', sans-serif;
  font-weight: normal;
  font-style: normal;
}

h2 {
  margin: 50px -30px 20px -30px;
  padding: 10px 30px 10px 25px;
  border-left: 5px solid #eee;
  font-family: 'News Cycle', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #444;
}

h2 em, h2 i {
  font-family: 'News Cycle', sans-serif;
  font-weight: normal;
  font-style: normal;
}

h3 {
  margin: 50px -30px 20px -27px;
  padding: 15px 30px;
  font-family: 'News Cycle', sans-serif;
  font-weight: bold;
  border-left: 3px solid #eee;
  font-size: 20px;
  font-weight: 400;
  color: #444;
}

.content i, .content em {
  font-family: 'News Cycle', sans-serif;
  font-style: normal;
}

.content b, .content strong {
  font-family: 'News Cycle', sans-serif;
  font-weight: normal;
}

.content em b {
  font-family: 'News Cycle', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.content p {
  font-size: 20px;
  line-height: 160%;
  margin: 25px 0;
}

.content pre {
  background-color: #fbfbfb;
  border-radius: 5px;
}

.content code {
  color: #444;
  background-color: #e2edf3;
  border-radius: 3px;
  font-size: 16px;
  padding: 2px 3px;
}

#menu-contato ul {
  padding:0px;
  margin:0px;
  text-align: center;
  list-style:none;
}

.contato-icon{
  font-size: 7em;
  margin-right: -10px;
  margin-left: -10px;
}

.contato-icon a{
  color: black;
}

#menu-contato ul li { display: inline; }
  .content .when + p:first-of-type {
  display: inline;
}

.content blockquote p {
  color: #000;
  font-style: italic;
  font-size: 16px;
}

pre{
  white-space: pre-wrap;
}

@media (max-width: 540px) {
  .menu{
    text-align: center;
    width: 100%;
  }
  .name{
     text-align: center;
  }
  .video{
    height: 200px !important;
  }
}

@media (max-width: 550px) {
  #label-contato{
    display: none;
  }
}

.when {
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
  margin-top: -60px;
  margin-bottom: 40px;
}

.content hr{
  border: 0;
  height: 6px;
  background-image: url('/images/hr.png');
  background-repeat: repeat-x;
  margin: 2em 3em;
}

.colophon {
  margin: 75px -30px -45px -30px;
  text-align: center;
}

.colophon .color, .colophon .typeface {
  width: 100px;
  display: inline-block;
  margin: 5px;
  font-size: 12px;
  box-shadow: 0 0 3px #ccc;
  border-radius: 3px;
}

.colophon .typeface b {
  background-color: #fbfbfb;
  display: block;
  width: 100px;
  height: 19px;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
  color: #ccc;
}

.clear {
  height: 50px;
}

.listing {
  margin: 25px 0;
  padding: 0;
}

.listing li {
  list-style-type: none;
  padding: 7px 5px;
  font-size: 18px;
}

.listing span {
  padding-top: 2px;
  float: right;
  text-transform: uppercase;
  font-size: 12px;
  color: #999;
}

.my-container{
  margin-top: 25px;
  max-width: 730px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

img{
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #fff;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

iframe{
  text-align: center;
  display:block;
  margin:auto;
  border:0;
  max-width:100% !important;
  height:auto
}

.video{
  text-align: center;
  height: 280px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header a.extra {
  color: #aaa;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.header a.extra:hover {
  color: #000;
}

.post pre {
  background-color: #f3f3f3;;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  background-color: #f3f3f3;;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-error {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.list-search{
  font-size: 18px;
  width: 50%;
  display: inline-block;
  text-align: center;
}

.input-search{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.links{
  color: #2B2B2B;
}
