.my-container{
  margin-top: 25px;
  max-width: 730px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header a.extra {
  color: #aaa;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.header a.extra:hover {
  color: #000;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

pre{
  text-align: center;
}

.post pre code {
  border: none;
}

.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.main-footer{
  position: fixed;
  padding-bottom: 5px;
  bottom: 0;
  width: 100%;
  background: rgba(255,255,255,.9);
  color: #999;
  text-align: center;
  font-size: 1.1em;
}
