body {
  text-align: center;
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
  font-size: 115%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.header a {
  text-decoration: none;
  font-family: 'Poiret One', cursive;
}

.title-post {
  float: left;
}

.date-post{
  float: right;
}

.title {
  margin-bottom: 10px;
  font-family: 'The Girl Next Door', cursive;
  font-size: 2em;
}

#my-container{
  margin-top: 25px;
  max-width: 730px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header a.extra {
  color: #aaa;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.header a.extra:hover {
  color: #000;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.main-footer{
  position: fixed;
  padding-bottom: 5px;
  bottom: 0;
  width: 100%;
  background: rgba(255,255,255,.9);
  color: #999;
  text-align: center;
}
