

This repository
Explore
Gist
Blog
Help
Fabrício Ronchi FabricioRonchi
 
1  Unwatch
Star 0 Fork 0PUBLIC FabricioRonchi / Blog
 branch: master  Blog / css / syntax.css 
Fabrício Ronchi FabricioRonchi just now Update syntax.css
1 contributor
 file 65 lines (64 sloc) 2.144 kb  Open EditRawBlameHistory Delete
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
.highlight{background:#f3f3f3;padding:10px 20px;overflow-x:scroll}
.meta{background:#1d1f21;color:#f3f3f3;padding:4px}
.comments{margin-top:60px}
.active{color:#000!important}
.highlight{	background:#f3f3f3}
.highlight .c{color:#998;font-style:italic}
.highlight .err{color:#a61717;background-color:#e3d2d2}
.highlight .k{font-weight:700}
.highlight .o{font-weight:700}
.highlight .cm{color:#998;font-style:italic}
.highlight .cp{color:#999;font-weight:700}
.highlight .c1{color:#998;font-style:italic}
.highlight .cs{color:#999;font-weight:700;font-style:italic}
.highlight .gd{color:#000;background-color:#fdd}
.highlight .gd .x{color:#000;background-color:#faa}
.highlight .ge{font-style:italic}
.highlight .gr{color:#a00}
.highlight .gh{color:#999}
.highlight .gi{color:#000;background-color:#dfd}
.highlight .gi .x{color:#000;background-color:#afa}
.highlight .go{color:#888}
.highlight .gp{color:#555}
.highlight .gs{font-weight:700}
.highlight .gu{color:#aaa}
.highlight .gt{color:#a00}
.highlight .kc{font-weight:700}
.highlight .kd{font-weight:700}
.highlight .kp{font-weight:700}
.highlight .kr{font-weight:700}
.highlight .kt{color:#458;font-weight:700}
.highlight .m{color:#099}
.highlight .s{color:#d14}
.highlight .na{color:teal}
.highlight .nb{color:#0086b3}
.highlight .nc{color:#458;font-weight:700}
.highlight .no{color:teal}
.highlight .ni{color:purple}
.highlight .ne{color:#900;font-weight:700}
.highlight .nf{color:#900;font-weight:700}
.highlight .nn{color:#555}
.highlight .nt{color:navy}
.highlight .nv{color:teal}
.highlight .ow{font-weight:700}
.highlight .w{color:#bbb}
.highlight .mf{color:#099}
.highlight .mh{color:#099}
.highlight .mi{color:#099}
.highlight .mo{color:#099}
.highlight .sb{color:#d14}
.highlight .sc{color:#d14}
.highlight .sd{color:#d14}
.highlight .s2{color:#d14}
.highlight .se{color:#d14}
.highlight .sh{color:#d14}
.highlight .si{color:#d14}
.highlight .sx{color:#d14}
.highlight .sr{color:#009926}
.highlight .s1{color:#d14}
.highlight .ss{color:#990073}
.highlight .bp{color:#999}
.highlight .vc{color:teal}
.highlight .vg{color:teal}
.highlight .vi{color:teal}
.highlight .il{color:#099}
Status API Training Shop Blog About © 2014 GitHub, Inc. Terms Privacy Security Contact 
