---
layout: default
title: Search - Fabricio
imagem: /img/fundoSearch.jpg
---
<script src="/js/angular.min.js"></script>
<div ng-app="myapp">
	<div class="my-container" ng-controller="MyController">
  		<nav id="menu-contato">
    		<input type="text" class="input-search" placeholder="Ex: AngularJS" ng-model="expressao" />
    		<br />
  			<div class="post list-search" ng-repeat="post in posts | filter:expressao">
      			<a class="links" href="{(post.url)}">{(post.title)}</a>
    		</div>
    	</nav>
    </div>
</div>
<script type="text/javascript">
var myApp = angular.module('myapp', []).config([
	'$interpolateProvider', function($interpolateProvider) {
    	return $interpolateProvider.startSymbol('{(').endSymbol(')}');
  	}
]);

myApp.controller('MyController', function($scope) {
	$scope.posts = {% include posts.html %};
});
</script>
<br />
<br />