
.icon-github-circled:before { content: '\e801'; } /* '' */
.icon-twitter-circled:before { content: '\e800'; } /* '' */
.icon-gplus-circled:before { content: '\e804'; } /* '' */
.icon-linkedin-circled:before { content: '\e802'; } /* '' */
.icon-instagram-circled:before { content: '\e803'; } /* '' */