body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  right: 50%;
  left: 50%;
	margin-bottom: 20px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
	margin-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.labels h1{
	font-size: 60px;	
}

.labels-max h1{
	font-size: 40px;	
}

.type{
	font-size: 20px;
}

.nav-center{
	text-align: center;
	display: -webkit-inline-box;
	margin-bottom: 10px;
}

.sensor-table{
	width: 200px;
	text-align: center;
}

.table-hist{
	margin-bottom: 0px;
}

.ng-cloak{
	display: none;
}