---
layout: compress
---
<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
  </head>
  <body>
    <div class="header">
      <div class="my-container">
        <ul class="menu">
          <li><a href="/"><b>HOME</b></a></li>
          <li><a href="/search"><b>SEARCH</b></a></li>
          <li><a href="/contact"><b>CONTACT</b></a></li>
        </ul>
        <section class="name">
          <a href="/">Fabrício<b>Ronchi</b></a>
        </section>
      </div>
    </div>
    <div class="hero" style="background-image: url({{ page.imagem }});"></div>

    {{ content }}
  </body>
</html>
