<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="site">
      <h1 class="title">Fabrício Ronchi</h1>
      <div class="header">
        <a class="extra" href="{{ site.baseurl }}">HOME</a>        
      </div>
      {{ content }}
      <footer class="main-footer">
        <small>© 2014 - Fabrício Ronchi</small>
      </footer>
    </div>
  </body>
</html>
