---
layout: default
imagem: /img/fundoBlog.jpg
---
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div class="my-container">
	<div class="post ">
		<section class="my-container content" >
			<h1>{{ page.title }}</h1>
			<div class="when">
				{{ page.date | date_to_long_string }}
				<div style="float: right">
					<a href="https://twitter.com/share" class="twitter-share-button" data-via="FRonchii" data-lang="pt">Tweetar</a>
				</div>
			</div>
			{{ content }}		
		</section>
	</div>	
	<br />
	{% include disqus.html %}
</div>
